/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/components/icons
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
lock.mdb
/data.ms
/data.ms/**/*.mdb
data.ms/indexes/0b906f5c-5a79-4d1d-9b73-322f272346e7/lock.mdb
data.ms/indexes/**/*.mdb
data.ms/indexes/946d1c4f-efa1-4f28-a0c1-c4c4611a5a8d/lock.mdb
data.ms/indexes/a3cda8d7-c95a-4582-b71a-7fc2c4532951/lock.mdb
